html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .icon-circle {
  border-radius: 50%;
} */